{% extends "admin/admin-layout.html" %} {% block style
%}admin/usuarios-admin/usuarios-insertar-admin.css{% endblock %} {% block
title%}Admin Modificar Admin{% endblock %} {% block main %}
<!--Main layout-->
<div id="myModal" class="modal">
  <div class="modal-content-libros" id="modal-content-libros">
    <span class="close">&times;</span>
    <div id="info-modal" class="info-modal"></div>
    <button class="btn-modal-close" id="btn-modal-close" type="button">
      Cerrar
    </button>
  </div>
</div>

<h1 class="h-insertar-usuario">Modificar Admin</h1>

<!-- Separador -->
<hr class="hr hr-blurry" />

<form class="form-insertar-usuario" id="form-insertar-usuario">
  <div class="container div-insertar-usuario-form">
    <input type="hidden" id="id_usuario" value="{{id_admin}}" />
    <h3 class="h-insertar-usuario">Nombre del Admin</h3>
    <input
      type="text"
      class="nombre-usuario-insertar"
      id="nombre-usuario-insertar"
      autocomplete="off"
      placeholder="Nombre de Admin"
      value="{{nombre}}"
    />
    <h3 class="h-insertar-usuario">Actual Contraseña</h3>
    <input
      type="text"
      class="nombre-usuario-insertar"
      id="actual-usuario-insertar"
      autocomplete="off"
      placeholder="Actual Contraseña"
    />
    <h3 class="h-insertar-usuario">Nueva Contraseña</h3>
    <input
      type="text"
      class="nombre-usuario-insertar"
      id="contraseña-usuario-insertar"
      autocomplete="off"
      placeholder="Nueva Contraseña"
    />

    <h3 class="h-insertar-usuario">Repetir Contraseña</h3>
    <input
      type="text"
      class="nombre-usuario-insertar"
      id="repetir-usuario-insertar"
      autocomplete="off"
      placeholder="Repetir Contraseña"
    />
  </div>
  <button type="submit" class="btn-insertar-usuario">Modificar</button>
</form>

<!-- paginacion -->
<!--Main layout-->
{% endblock %} {% block script
%}admin/usuarios-admin/admin-modificar-admin.js{% endblock %}
